<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Tips Blog</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div class="wrapper">
			<header class="col-12">
				<div>
					<nav class="col-3 d-flex justify-content-between">
						<a href="/">Home</a>
						{{#if loggedIn}}
							<a href="/dashboard">Dashboard</a>
							<a href="/" id="logout">Logout</a>
						{{else}}
							<a href="/login">Login</a>
						{{/if}}
					</nav>
				</div>
				<h1 class="title"><i class="fab"></i>Tech Tips Blog</h1>
			</header>
			<main>
				{{{body}}}
			</main>
		</div>

		{{#if loggedIn}}
			<script src="/javascript/logout.js"></script>
		{{/if}}

	</body>

</html>