<section class="d-flex align-items-center flex-column">
	<form class="login-form d-flex flex-column border border-dark m-3 p-3">
		<div class="d-flex justify-content-between">
			<label for="email-login">email:</label>
			<input class="float-right" type="text" id="email-login" />
		</div>
		<div class="d-flex justify-content-between">
			<label for="password-login">password:</label>
			<input class="float-right" type="password" id="password-login" />
		</div>
		<div class="d-flex justify-content-center m-2">
			<button type="submit">Login</button>
		</div>
	</form>

	<a href="/signup"><button>New Account? Sign Up Here!</button></a>
</section>

<script src="/javascript/login.js"></script>