<section class="d-flex justify-content-center align-content-center">

	<form class="new-post-form d-flex flex-column border border-dark m-3 p-3">
		<h2 class="d-flex justify-content-center">Create New Post</h2>

		<div class="d-flex justify-content-between">
			<label for="post-title">Title:</label>
			<input type="text" id="post-title" name="post-title" />
		</div>
		<div class="d-flex justify-content-between">
			<label for="post-content">Body:</label>
			<input id="post-content" name="post-content" />
		</div>
		<button type="submit">Create</button>
	</form>
</section>

<script src="/javascript/add-post.js"></script>