<section class="d-flex align-items-center flex-column">
	<form class="signup-form d-flex flex-column border border-dark m-3 p-3">
		<div class="d-flex justify-content-between">
			<label for="username-signup">username:</label>
			<input type="text" id="username-signup" />
		</div>
		<div class="d-flex justify-content-between">
			<label for="email-signup">email:</label>
			<input type="text" id="email-signup" />
		</div>
		<div class="d-flex justify-content-between">
			<label for="password-signup">password:</label>
			<input type="password" id="password-signup" />
		</div>
		<div class="d-flex justify-content-center m-2">
			<button type="submit">Sign Up</button>
		</div>
	</form>

	<a href="/login"><button>Have Account? Login Here!</button></a>
</section>

<script src="/javascript/signup.js"></script>