:root {
	--primary: #ccdad1;
	--secondary: #dce9d5;
	--tertiary: #788585;
	--light-dark: #a1a0a1;
	--dark: #201110;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary);
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--dark);
	line-height: 1.5;
	font-size: 24px;
}